@import "../variables__colors";
@import "validation";

@function get-color($color-name) {
  @if map_has_key($colors, $color-name) {
    @return map_get($colors, $color-name);
  }
  @error("Requesting unknown color '#{$color-name}'.");
}

@mixin set-background-color($color-name) {
  background-color: get-color($color-name);
  @supports (background-color: var(#{--color-}#{$color-name})) {
    background-color: var(#{--color-}#{$color-name});
  }
}

@mixin set-color($color-name) {
  color: get-color($color-name);
  @supports (color: var(#{--color-}#{$color-name})) {
    color: var(#{--color-}#{$color-name});
  }

}
