@import "variables/color";

@at-root {
  :root {

    // The custom property list may be derived with the following code, instead of being explicitly stated.
    //     @each $color-name, $value in $colors {
    //      #{--color-}#{$color-name}: $value;
    //    }
    //
    // This reduces duplication, as variables/color is then the single source of truth for the color data, but it
    // does not make the custom properties available to IDEs though, which is not a great developer experience.

    // As both variables/color, and the custom property list here are derived from the custom config, I think it's
    // okay to explicitly state both.

    --color-primary-normal: #{$color-primary-normal};
    --color-primary-light: #{$color-primary-light};
    --color-primary-dark: #{$color-primary-dark};
    --color-text-normal: #{$color-text-normal};
    --color-text-reverse: #{$color-text-reverse};
    --color-text-secondary: #{$color-text-secondary};
    --color-text-secondary__reverse: #{$color-text-secondary__reverse};
    --color-text-placeholder: #{$color-text-placeholder};
    --color-text-dividers: #{$color-text-dividers};
    --color-text-dividers__reverse: #{$color-text-dividers__reverse};
    --color-text-ui_background: #{$color-text-ui_background};
    --color-text-ui_background_hue: #{$color-text-ui_background_hue};
    --color-text-ui_code: #{$color-text-ui_code};
    --color-text-ui_background__reverse: #{$color-text-ui_background__reverse};
    --color-text-ui_background_hue__reverse: #{$color-text-ui_background_hue__reverse};
    --color-background: #{$color-background};
    --color-information: #{$color-information};
    --color-success: #{$color-success};
    --color-success_dark: #{$color-success_dark};
    --color-attention: #{$color-attention};
    --color-warning: #{$color-warning};
  }
}
